@mixin card {
	backface-visibility: hidden;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
@mixin button {
	cursor: pointer;
	background: linear-gradient(to top right, #22ab93, #19668d);
	border: none;
	outline: none;
	border-radius: 9px;
	font-weight: bold;
	color: #fff;
}
.wrap {
	font-family: 'Arial', sans-sarif;
	box-sizing: border-box;
	width: 100vw;
	height: 100vh;
	padding-top: 1px;
	background-color: #cfd0cf;
}
.title {
	font-size: 42px;
	line-height: 47px;
	color: #434344;
	text-align: center;
	margin: 40px 0;
}
.table {
	position: relative;
	width: 595px;
	margin: 0 auto;
	margin-bottom: 30px;
	&-list {
		box-sizing: border-box;
		list-style-type: none;
		margin: 0;
		padding: 0;
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr;
		grid-gap: 25px;
		perspective: 600px;
		&-item {
			position: relative;
			box-sizing: inherit;
			width: 130px;
			height: 130px;
			background: linear-gradient(to top right, #22ab93, #19668d);
			border: 5px solid #fff;
			border-radius: 9px;
			box-shadow: 1px 1px 5px rgba(0,0,0, .5);
			cursor: pointer;
			transition: transform .4s;
			transform-style: preserve-3d;
			transform: rotateY(0);
			&__red {
				border-color: #f44336;
			}
			&__green {
				border-color: #5ad66f;
			}
			&_front {
				@include card;
				background-color: transparent;
			}
			&_back {
				@include card;
				background-color: #fff;
				transform: rotateY(180deg);
				&__red {
					background-color: #f44336;
				}
				&__green {
					background-color: #5ad66f;
				}
			}
			&_emoji {
				font-size: 74px;
				line-height: 1;
				text-align: center;
				display: block;
				width: 100%;
				position: absolute;
				top: 50%;
				margin-top: -37px; 
			}
		}
	}
	&-popup {
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, .5);
		position: absolute;
		top: 0;
		left: 0;
		border-radius: 9px;
		&_start {
			@include button;
			border-radius: 9px;
			display: block;
			position: absolute;
			margin: -40px 0 0 -135px;
			padding: 0 60px;
			top: 50%;
			left: 50%;
			font-size: 28px;
			line-height: 3;
			box-sizing: border-box;
		}
	}
}
.timer {
	text-align: center;
	margin: 0 auto;
	font-size: 30px;
	line-height: 36px;
	color: #434344;
	font-weight: bold;
}
.card_open {
	transition: transform .4s;
	transform: rotateY(180deg);
	&__checked {
		transition: transform .4s;
		transform: rotateY(180deg);
	}
}
.deleted {
	display: none;
}
.modal {
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, .5);
	position: absolute;
	top: 0;
	left: 0;
	&-wrap {
		width: 400px;
		text-align: center;
		background-color: #fff;
		padding-top: 1px;
		position: absolute;
		top: 50%;
		left: 50%;
		margin: -114px 0 0 -200px;
	}
	&_title {
		color: #434344;
		font-size: 48px;
	}
	&_win {
		margin: 29px 0 40px;
		font-size: 40px;
		text-transform: uppercase;
	}
	&-btn-play {
		@include button;
		font-size: 20px;
		margin-bottom: 30px;
		padding: 20px 30px;
	}
}